@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
  font-family: Karla, sans-serif;
}

html{
  background-color: #804A00;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}
