#project-hero {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  height: 20em;
  background-image: linear-gradient(to bottom, #a57c00, #804a00);
}

#project-hero:hover #project-hero-name {
  width: 100%;
  transition: 1s width ease-in-out;
}

#project-hero-name {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  word-break: keep-all;
  margin-top: 5.5em;
  width: 0;
  transition: 1s width ease-in-out;
  animation: bounce 1s ease-in-out forwards;
}

#project-hero-name > * {
  margin: 0.2em;
  transition: 1s color ease-in-out;
  font-size: 10em;
  font-family: BoldMcFont;
  color: #36454f;
}

#project-hero-name:hover > * {
  color: #a57c00;
}

#hovered-project-hero-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  width: 100%;
  animation: fadein 1s;
}

#hovered-project-hero-name > * {
  margin: 0.2em;
  animation: bounce 1s ease-in-out forwards;
  font-size: 10em;
  font-family: BoldMcFont;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1100px) {
  #project-hero-name > * {
    font-size: 6em;
  }

  
  #hovered-project-hero-name > * {
    font-size: 6em;
  }
}

@media only screen and (max-width: 800px) {
  #project-hero-name {
    flex-direction: column;
  }

  #hovered-project-hero-name{
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #project-hero-name > * {
    font-size: 4.2em;
  }

  
  #hovered-project-hero-name > * {
    font-size: 4.2em;
  }
}
