#project-hero {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  height: 20em;
  background-image: linear-gradient(to bottom, #a57c00, #804a00);
}

#project-hero:hover .project-hero-title--initial{
  width: 100%;
  transition: 1s width ease-in-out;
}

.project-hero-title--initial{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  word-break: keep-all;
  margin-top: 5em;
  width: 0;
  transition: 1s width ease-in-out;
  animation: bounce 1s ease-in-out forwards;
}

.project-hero-title--initial > * {
  margin: 0.2em;
  transition: 1s color ease-in-out;
  font-size: 10em;
  font-family: BoldMcFont;
  font-weight: bold;
  color: #36454f;
}

.project-hero-title--initial:hover > * {
  color: #a57c00;
}

.project-hero-title--hovered{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  width: 100%;
  animation: fadein 1s;
}

.project-hero-title--hovered >* {
  margin: 0.2em;
  animation: bounce 1s ease-in-out forwards;
  font-size: 10em;
  font-family: BoldMcFont;
  font-weight: bold;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
