#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 35vh;
  margin-bottom: 15vh;
}

#about-title {
  z-index: 1;
  width: 15%;
  margin-bottom: -0.5em;
  border-top: double #36454f;
  border-right: double #36454f;
  border-left: double #36454f;
  border-radius: 30%;
  background: #a57c00;
  font-family: BoldMcFont;
}

#about-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 25em;
  border-top: double #36454f;
  border-bottom: double #36454f;
  border-left: transparent;
  border-right: transparent;
  border-radius: 15%;
  background-image: linear-gradient(to right, #804a00, #a57c00, #804a00);
}

#about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-right: 3em;
}

#round-img {
  height: 70%;
  width: 25%;
  margin-left: 3em;
  border: solid #36454f;
  border-radius: 50%;
}

#about-job-title {
  font-family: BoldMCFont;
}

#about-text {
  width: 70%;
  color: #36454f;
  font-family: McFont;
}

#resume-link{
  margin: 1em;
  text-decoration: #804a00 dotted underline;
  cursor: pointer;
  font-family: MCFont;
  color: black;
}

#resume-link:hover{
  transition: 0.3s;
  color: #36454f;
  animation: bounce forwards 1s;
}
