#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 35vh;
  margin-bottom: 15vh;
}

#about-title {
  z-index: 1;
  width: 15%;
  margin-bottom: -0.5em;
  border-top: double #36454f;
  border-right: double #36454f;
  border-left: double #36454f;
  border-radius: 30%;
  background: #a57c00;
  font-family: BoldMcFont;
}

#about-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 25em;
  border-top: double #36454f;
  border-bottom: double #36454f;
  border-left: transparent;
  border-right: transparent;
  border-radius: 15%;
  background-image: linear-gradient(to right, #804a00, #a57c00, #804a00);
}

#about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-right: 3em;
}

#profile-pic {
  max-height: 70%;
  max-width: 25%;
  height: auto;
  width: auto;
  margin-left: 3em;
  border: 2px solid #36454f;
  border-radius: 50%;
}

#about-job-title {
  font-family: BoldMCFont;
}

#about-text {
  width: 70%;
  color: #36454f;
  font-family: McFont;
  font-size: 20px;
}

#resume-link {
  margin: 1em;
  text-decoration: #804a00 dotted underline;
  cursor: pointer;
  font-family: MCFont;
  color: black;
}

#resume-link:hover {
  transition: 0.3s;
  color: #36454f;
  animation: bounce forwards 1s;
}

@media only screen and (max-width: 1000px) {
  #about-cont {
    flex-direction: column;
    align-items: center;
    height: 50em;
  }

  #about-info {
    margin-right: 0;
  }

  #profile-pic {
    margin-top: 2em;
    margin-left: 0;
  }
}

@media only screen and (max-width: 830px) {
  #about-title {
    width: 20%;
  }
}

@media only screen and (max-width: 630px) {
  #about-title {
    width: 30%;
  }
}

@media only screen and (max-width: 540px) {
  #about-text {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  #about-title {
    width: 35%;
  }
}
