#hero-container{
  height: 25em;
  position: relative;
}

#hero-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #a57c00, #804a00);
}

#hero-wrapper:hover #hero-name{
  width: 100%;
  transition: 1s width ease-in-out;
}

#hero-name {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  word-break: keep-all;
  margin-top: 5em;
  width: 0;
  transition: 1s width ease-in-out;
  animation: bounce 1s ease-in-out forwards;
}

#hero-name > * {
  margin: 0.2em;
  color: #36454f;
  transition: 1s color ease-in-out;
  font-size: 10em;
  font-family: BoldMcFont;
  font-weight: bold;
}

#hero-name:hover > * {
  color: #a57c00;
}

#hovered-hero-name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
  animation: fadein 1s;
}

#hovered-hero-name > *{
  margin: 0.2em;
  animation: bounce 1s ease-in-out forwards;
  font-size: 10em;
  font-family: BoldMcFont;
  font-weight: bold;
}

#secondary-text{
  display: flex;
  justify-content: center;
}

#secondary-text > * {
  opacity: 0;
  margin: 0.5em;
  font-family: MCFont;
  color: #a57c00;
  animation: fadein 1s forwards 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(-5px);
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}